<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Todos</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <script src="assets/js/libs/jquery-1.7.2.js" type="text/javascript"></script>
    <script src="assets/js/libs/underscore.js"   type="text/javascript"></script>
    <script src="assets/js/libs/backbone.js"     type="text/javascript"></script>
    <script src="assets/js/todo.js"     type="text/javascript"></script>
    <script id="todo-template">
    </script>
  </head>
  <body>
    <div class="shell container-fluid">
      <div id="todo-container" class="row-fluid">
      </div>
    </div>
    <div class="help">
      <a href="#/help">help</a>
      <a href="#/new">new</a>
    </div>
  </body>
</html>
